<body class='homepage'>
	<div class="container vertical-center">
	    <div class="my-header">QuickShip</div>
		 <div class="tagline">Printing shipping labels, quick and easy.
		 </div>

		<div class="my-button">
		  <%= link_to 'Print a Label', new_package_path, class: 'btn btn-primary btn-lg' %>
	  	</div>
  	</div>

</body>
